@{
    Layout = "../MainWindow/MainWindowLayoutTwo.cshtml";
}

<link href="~/css/form.css" rel="stylesheet">

<div class="row" style="margin-top:30px;background-color:transparent">
    <div class="col-75" style="background-color:transparent">
        <div class="container" style="background-color:white; height:700px; border-radius:6px; margin-left: 1px">
            <form action="#">

                <div class="row">
                    <div class="col-50">
                    </div>

                    <div class="col-50">
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="col-25">
        <div class="container" style="background-color:white; height:300px;  border-radius:6px;">
            <h2>Google <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h2>
            <h2>Facebook <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h2>
            <h2>Telegram <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h2>
        </div>
    </div>
</div>