@{
    Layout = "../MainWindow/MainWindowLayoutTwo.cshtml";
}

<link href="~/css/form.css" rel="stylesheet">

<div class="row" style="margin-top:30px;background-color:transparent">
    <div class="col-75" style="background-color:transparent">
        <div class="container" style="background-color:white; border-radius:6px; margin-left: 1px">
            <form action="#">

                <div class="row">
                    <div class="col-50">
                        <h3>Buyurtma</h3>
                        <label for="fname"><i class="fa fa-user"></i> Nomi</label>
                        <input type="text" id="fname" name="firstname" placeholder="....">
                        <label for="email"><i class="fa fa-envelope"></i> Izoh</label>
                        <textarea type="text" id="email" name="email" placeholder="...." style="width:100%; height:200px"></textarea>
                        <label for="city"><i class="fa fa-institution"></i> Tilni tanlang</label>
                        <input type="text" id="city" name="city" placeholder="....">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Xizmat turi</label>
                        <input type="text" id="adr" name="address" placeholder="...">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Hizmat narxi</label>
                        <input type="text" id="adr" name="address" placeholder="...">

                        <div class="row">
                            <div class="col-50">
                                <label for="state">Muddat</label>
                                <input type="text" id="state" name="state" placeholder="...">
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>To'lov</h3>
                        <label for="cname">Ismingiz</label>
                        <input type="text" id="cname" name="cardname" placeholder="Ivan Semenov">
                        <label for="ccnum">Karta raqami</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Oy</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="Сентябрь">

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Yil</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2018">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352">
                            </div>
                        </div>
                    </div>

                </div>
                <input type="submit" value="Buyurtmani rasmiylashtiring" class="btn">
            </form>
        </div>
    </div>

   <div class="col-25">
        <div class="container" style="background-color:white;  border-radius:6px;">
            <h4>Savat <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
            <p><a href="#">Buyurtma 1</a> <span class="price">$15</span></p>
            <p><a href="#">Buyyrtma 2</a> <span class="price">$5</span></p>
            <p><a href="#">Buyurtma 3</a> <span class="price">$8</span></p>
            <p><a href="#">Buyurtma 4</a> <span class="price">$2</span></p>
            <hr>
            <p>Ummumiy narxi <span class="price" style="color:black"><b>$30</b></span></p>
        </div>
    </div>
</div>