@{
    Layout = "_LayoutTwo.cshtml";
}


    <div class="container-fluid text-blue text-center" style="margin-top: 450px; height: 280px; margin-top: 40px; margin-bottom: -120px;">
        <h1>Koperayting</h1>
    </div>
    <!---->
    <div class="row row-cols-1 row-cols-md-3 g-3" style="margin-top: -200px; margin-left:8%; margin-right: -8%; margin-bottom: -130px;">
         <div class="col" style="margin-right: -10px; width: 25%; margin-right: 4%">
            <div class="card">
                <div class="card-body" style="height: 656px;">
                    <div class="mod-main__sections-block">
                        <div class="mod-main__sections-block-title">
                            Buyurtma berish <span class="mod-main__sections-block-open"></span>
                        </div>
                        <div class="mod-main__sections-block-row">
                            <div class="mod-main__sections-block-row-title">
                                  <a href="/copywriting/" class="js-target" data-target="GLAV_KOPIR">Kopirayterlik →</a>
                            </div>
                            <img src="https://www.etxt.ru/modules/client/index/images/copy.png" alt="Копирайтинг" style="margin-left: 200px; margin-top: 10px;">
                            <div class="mod-main__sections-block-row-text">
                            Tizimda mijoz sifatida ro'yxatdan o'tish orqali siz professional ijodiy matnga buyurtma berishingiz mumkin. Ijrochi sifatida siz o'zingizga yaqin va qiziq bo'lgan mavzu bo'yicha har qanday buyurtmani qabul qilishingiz mumkin.
                            <a class="js-target" onclick="readMore('copyright')" data-target="GLAV_BOLSE_K">Ko'proq →</a>
                            </div>
                        </div>
                        <div class="mod-main__sections-block-row">
                            <div class="mod-main__sections-block-row-title">
                                <a href="/rewriting/" class="js-target" data-target="GLAV_RERAIT">Rerayting →</a>
                            </div>
                        <img src="https://www.etxt.ru/modules/client/index/images/rerait.png" alt="Рерайтинг" class="mod-main__sections-block-row-img">
                            <div class="mod-main__sections-block-row-text">
                                 Agar siz sayt egasi bo'lsangiz, ehtimol sizga manba matnini sifat jihatidan o'zgartira oladigan va uni qidiruv tizimlari uchun noyob qiladigan mutaxassis kerak bo'ladi.
                                <a class="js-target" onclick="readMore('rewrite');" data-target="GLAV_BOLSE_R">Ko'proq →</a>
                            </div>
                        </div>
                        <div class="mod-main__sections-block-row">
                            <div class="mod-main__sections-block-row-title">
                                <a href="/translating/" class="js-target" data-target="GLAV_PEREVOD">Tarjima →</a>
                            </div>
                            <img src="https://www.etxt.ru/modules/client/index/images/trans.png" alt="Переводы" class="mod-main__sections-block-row-img">
                            <div class="mod-main__sections-block-row-text">
                                Bizning veb-saytimizda tarjimonlar har doim istalgan mavzuda va istalgan tildan tarjima qilish uchun matn tanlashlari mumkin va mijozlar professional va iqtidorli ijrochini topishlari mum
                                <a class="js-target" onclick="readMore('translate');" data-target="GLAV_BOLSE_P">Ko'proq →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col" style="height: 400px; width: 27%; margin-right: 5%">
            <div class="card text-center">
                <div class="card-body" style="height: 656px;">
                <div class="mod-main__sections-block">
                    <div class="mod-main__sections-block-title">
                        Kontentlar<span class="mod-main__sections-block-open"></span>
                    </div>
                    <div class="mod-main__sections-block-row">
                        <div class="mod-main__sections-block-row-title">
                            <a href="/photostock/" class="js-target" data-target="GLAV_MAG_PHOTO">Rasmlar →</a>
                        </div>
                        <img src="https://www.etxt.ru/modules/client/index/images/photo.png" alt="Фото" class="mod-main__sections-block-row-img">
                        <div class="mod-main__sections-block-row-text">
                            Yuqori sifatli muallif fotosuratlari va tasvirlarining katta ma'lumotlar bazasi. eTXT xizmatidan surat kontentining o'ziga xosligi kafolati. O'nlab tematik toifalar, qulay kalit so'zlarni qidirish va bir marta bosish bilan sotib olish. Saytdagi kontentingizni butunlay noyob qiling.
                        </div>
                    </div>
                    <div class="mod-main__sections-block-row">
                        <div class="mod-main__sections-block-row-title">
                            <a href="/market/" class="js-target" data-target="GLAV_MAG_STATEI">Готовые статьи →</a>
                        </div>
                        <img src="https://www.etxt.ru/modules/client/index/images/article.png" alt="Готовые статьи" class="mod-main__sections-block-row-img">
                        <div class="mod-main__sections-block-row-text">
                            Saytlar uchun noyob maqolalar katalogi. Vaqtni tejang - tayyor maqolalarni bir necha daqiqada onlayn xarid qilish mum
                        </div>
                    </div>
                    <div class="mod-main__sections-block-row">
                        <a href="/articles/" class="mod-main__sections-block-row-text-a-dot-all js-target" data-target="GLAV_MAG_STATEI"><img src="https://www.etxt.ru/modules/client/index/images/book.png" alt="Каталог готовых статей"><span>Каталог готовых статей</span></a>
                        <form method="GET" action="https://www.etxt.ru/articles/" class="mod-main__sections-block-row-form">
                            <input type="hidden" name="id_language" value="15">
                            <input type="hidden" name="search" value="1">
                            <input type="text" name="search_words" value="" placeholder="Поиск по статьям">
                            <input type="submit" value="Поиск" class="js-target" data-target="GLAV_POISK_STATYI">
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col" style="margin-left: -10px; width: 25%;">
            <div class="card text-end">
                <div class="card-body" style="height: 656px;">
                <div class="mod-main__sections-block">
                    <div class="mod-main__sections-block-title">
                        Matnlar bilan ishlash<span class="mod-main__sections-block-open"></span>
                    </div>
                    <div class="mod-main__sections-block-row">
                        <div class="mod-main__sections-block-row-title">
                            <a href="/links/" class="js-target" data-target="GLAV_SYSTEMA">Turar joy<br>статей →</a>
                        </div>
                        <img src="https://www.etxt.ru/modules/client/index/images/send.png" alt="Размещение статей" class="mod-main__sections-block-row-img">
                        <div class="mod-main__sections-block-row-text">
                            Maqolani joylashtirish tizimi sayt egalari va reklama beruvchilar uchun uchrashuv joyidir.<br><br>
                        </div>
                    </div>
                    <div class="mod-main__sections-block-row">
                        <div class="mod-main__sections-block-row-title">
                            <a href="/correction/" class="js-target" data-target="GLAV_CORRECT">Tuzatish<br>va tahrirlash →
                            </a>
                        </div>
                        <img src="https://www.etxt.ru/modules/client/index/images/correct.png" alt="Корректура" class="mod-main__sections-block-row-img">
                        <div class="mod-main__sections-block-row-text">
                            Vaqti-vaqti bilan har bir foydalanuvchi matnni tuzatishga muhtoj bo'ladi. Filologning maqolasini tahrirlash matnni adabiy mukammallikka imkon qadar yaqinlashtirish imkonini beradi.
                            <a class="js-target" onclick="readMore('correction');" data-target="GLAV_BOLSE_C">Подробнее →</a>
                        </div>
                    </div>
                    <div class="mod-main__sections-block-row">
                        <div class="mod-main__sections-block-row-title">
                            <a href="/antiplagiat/" class="js-target" data-target="GLAV_ANT">Imtihon<br>o'ziga xoslik →</a>
                        </div>
                        <img src="https://www.etxt.ru/modules/client/index/images/check.png" alt="Проверка уникальности" class="mod-main__sections-block-row-img">
                        <div class="mod-main__sections-block-row-text">
                            Matnning o'ziga xosligi qidiruv tizimlari uchun muhim talabdir. eTXT Exchange-da taqdim etilgan barcha matnlar muallifning o'ziga xosligini tekshirgich tomonidan majburiy tekshirilishi kerak.
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div
    <div>
        @RenderBody()
    </div>

