@{
    Layout = "_LayoutTwo.cshtml";
}


    <div class="container-fluid text-blue text-center" style="margin-top: 450px; height: 280px; margin-top: 40px; margin-bottom: -120px;">
        <h1>Koperayting</h1>
    </div>
    <!---->
    <div class="row row-cols-1 row-cols-md-3 g-3" style="margin-top: -200px; margin-left:8%; margin-right: -8%; margin-bottom: -130px;">
         <div class="col" style="margin-right: -10px; width: 25%; margin-right: 4%">
            <div class="card">
                <div class="card-body" style="height: 656px;">
                    @*<div class="mod-main__sections-block">
                        <div class="mod-main__sections-block-title">
                            Статьи на&nbsp;заказ<span class="mod-main__sections-block-open"></span>
                        </div>
                        <div class="mod-main__sections-block-row">
                            <div class="mod-main__sections-block-row-title">
                                <a href="/copywriting/" class="js-target" data-target="GLAV_KOPIR">Копирайтинг →</a>
                            </div>
                            <img src="https://www.etxt.ru/modules/client/index/images/copy.png" alt="Копирайтинг" style="margin-left: 200px; margin-top: 10px;">
                            <div class="mod-main__sections-block-row-text">
                                Зарегистрировавшись в системе как заказчик, вы сможете заказать профессиональный творческий текст. В качестве исполнителя вы можете принять любой заказ на тему, которая вам близка и интересна.
                                <a class="js-target" onclick="readMore('copyright')" data-target="GLAV_BOLSE_K">Подробнее →</a>
                            </div>
                        </div>
                        <div class="mod-main__sections-block-row">
                            <div class="mod-main__sections-block-row-title">
                                <a href="/rewriting/" class="js-target" data-target="GLAV_RERAIT">Рерайтинг →</a>
                            </div>
                            <img src="/modules/client/index/images/rerait.png" alt="Рерайтинг" class="mod-main__sections-block-row-img">
                            <div class="mod-main__sections-block-row-text">
                                Если вы владелец сайта, то вам наверняка потребуется профессионал, способный качественно изменить исходный текст и сделать его уникальным для поисковиков.
                                <a class="js-target" onclick="readMore('rewrite');" data-target="GLAV_BOLSE_R">Подробнее →</a>
                            </div>
                        </div>
                        <div class="mod-main__sections-block-row">
                            <div class="mod-main__sections-block-row-title">
                                <a href="/translating/" class="js-target" data-target="GLAV_PEREVOD">Переводы →</a>
                            </div>
                            <img src="/modules/client/index/images/trans.png" alt="Переводы" class="mod-main__sections-block-row-img">
                            <div class="mod-main__sections-block-row-text">
                                На нашем сайте переводчики всегда могут выбрать текст для перевода любой тематики и с любого языка, а заказчики смогут найти профессионального и талантливого исполнителя.
                                <a class="js-target" onclick="readMore('translate');" data-target="GLAV_BOLSE_P">Подробнее →</a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
         <div class="col" style="height: 400px; width: 25%; margin-right: 5%">
            <div class="card text-center">
                <div class="card-body" style="height: 656px;">
                  

                </div>
            </div>
        </div>
        <div class="col" style="margin-left: -10px; width: 25%;">
            <div class="card text-end">
                <div class="card-body" style="height: 656px;">
                 

                 

                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

