@{
    Layout = "_MainWindowLayout.cshtml";
}

<link href="./css/bootstrap.css" rel="stylesheet">
<link href="./css/site.css" rel="stylesheet">

<div class="container-fluid" style="height: 300px;  background-color: #44C9FF;">
   
</div>
<div>
    @RenderBody()
</div>

