<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body style="background-color: aliceblue;">
    <div class="container-fluid">
        <header>
            <div class="container-fluid text-white text-center" style="height: 60px; background-color: #44C9FF;">
                <div class="row" style="padding-top: 10px;">

                    <div class="header_bottom">

                        <div class="container" style="background-color:transparent; border-style:none;">
                            <div class="col" style="margin-left:-20%">
                                <img src="https://www.etxt.ru/skins/default/images/header/logo.png">
                            </div>
                            <nav class="main_nav" style="margin-right:4%">
                                <ul>
                                    <li><a style="-webkit-text-stroke-color:white" href="#" class="active">Asosiy </a></li>
                                    <li><a href="#">Buyurtmachilar </a></li>
                                    <li><a href="#">Koperatorlar </a></li>
                                    <li><a href="#">Xabarlar </a></li>
                                </ul>
                            </nav>
                            <nav class="main_nav" style="margin-right: -18%">
                                <ul>
                                    <li><a asp-controller="account" asp-action="register" style="margin-right:-20%">Ro'yhatdan o'tish</a></li>
                                </ul>
                            </nav>
                            <nav class="main_nav" style="margin-left: 16%">
                                <ul>
                                    <li><a asp-controller="account" asp-action="login"> Kirish</a></li>
                                </ul>
                            </nav>
                            <nav style="margin-right: -10%">
                                <svg style="margin-right:20px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                                    <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                                </svg>
                                <svg style="margin-right:20px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div style="background-color :black; height: 0.3px;"></div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <!---->

    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
