@{
    Layout = "../UserMainWindow/MainWindowLayoutTwo.cshtml";
}

<link href="~/css/form.css" rel="stylesheet">

<div class="row" style="margin-top:30px;background-color:transparent">
    <div class="col-75" style="background-color:transparent">
        <div class="container" style="background-color:white; border-radius:6px; margin-left: 1px">
            <form action="#">

                <div class="row">
                    <div class="col-50">
                        <h3>Buyurtma</h3>
                        <label for="email"><i class="fa fa-envelope"></i> Izoh</label>
                        <textarea type="text" id="email" name="email" placeholder="...." style="width:100%; height:230px"></textarea>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="col-25">
        <div class="container" style="background-color:white;  border-radius:6px;">
            <h4>Ma'lumot <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i></span></h4>
            <label for="cname">Muddat</label>
            <input type="text" id="cname" name="cardname" placeholder="....">
            <label for="ccnum">To'lov</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="....">
            <input type="submit" value="Buyurtmani rasmiylashtiring" class="btn">
        </div>
    </div>
</div>